@use "config/config";
@use "config/util";
@use "config/media";

nav {
    font-family: "Mukta", sans-serif;
    font-weight: normal;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include util.width-per-screen-size(true, true);
    .logo {
        font-family: "Paytone One", sans-serif;
        font-size: 3rem;
    }
    .mobile {
        display: none;
    }
    div:not(.mobile) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        ul {
            font-weight: 300;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            gap: 2rem;
            li {
                a {
                    color: white;
                    font-size: 1.5rem;
                    text-decoration: none;
                    &:hover {
                        color: config.get-color("contact");
                        transition: 0.2s;
                    }
                }
                &.close {
                    display: none;
                }
            }
        }
        .login {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            padding: .3rem 3rem;
            border-radius: 4rem;
            border: solid config.get-color("login-border-color") 2px;
            &:hover {
                background-color: config.get-color("container");
                transition: 0.5s;
            }
        }
    }
}

@include media.media("l") {
    nav {
        .mobile {
            display: block;
        }
        div:not(.mobile):not(.logo) {
            position: fixed;
            right: -60%;
            top: 0;
            width: 40vw;
            height: 100%;
            flex-direction: column;
            padding: 1rem;
            align-items: flex-end;
            background-color: black;
            text-align: right;
            justify-content: flex-start;
            gap: 5rem;
            transition: right 300ms ease-in-out;
            ul {
                flex-direction: column;
                align-items: flex-end;
                li {
                    &.close {
                        margin-top: 2rem;
                        width: 1.8rem;
                        display: block;
                    }
                }
            }
            .login {
                border: none;
                padding: 0;
                &::before {
                    content: "";
                    position: absolute;
                    right: 10%;
                    width: 80%;
                    height: 2px;
                    margin-top: -3rem;
                    background-color: #9B9B9B;
                    border-radius: 1px;
                }
            }
            &.active {
                right: 0;
            }
        }
    }
}