@use "../config/config.scss";
@use "../config/util.scss";
@use "../config/media.scss";

main {
    flex: 1;
    .eclipse {
        position: absolute;
        top: 18rem;
        right: 13rem;
        width: 32rem;
        height: 32rem;
        .nreal {
            position: absolute;
            width: 45rem;
            height: 45rem;
            z-index: 5;
            top: -6rem;
            right: -6rem;
        }
    }
    .title {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Mukta";
        font-size: 3rem;
        font-weight: lighter;
        text-align: left;
        letter-spacing: 0.1rem;
        margin-left: 12rem;
        margin-top: 8rem;
        .colored {
            // mask image
            background: url(../../../public/assets/grad.gif) no-repeat;
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .amazon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 18rem;
        height: 11rem;
        margin-left: 16rem;
        margin-top: -6rem;
    }
    .buy {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18rem;
        padding: 10px;
        border: 2px solid config.get-color("text-color");
        border-radius: 50px;
        margin-left: 34rem;
        margin-top: -4rem;
        a {
            font-family: "Mukta";
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 0.5rem;
            color: config.get-color("text-color");
            text-decoration: none;
            text-transform: uppercase;
        }
        &:hover {
            background-color: config.get-color("container");
            transition: 0.5s;
        }
    }
    .lines {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18rem;
        height: 11rem;
        margin-left: 13.5rem;
        margin-top: 10rem;
    }
    .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 119.4rem;
        height: 34rem;
        margin-top: 38rem;
        margin-left: 0rem;
        background-color: config.get-color("container");
        opacity: 80%;
    }
    .info-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 10rem;
        height: 10rem;
        margin-left: 26.5rem;
        margin-top: 50rem;
    }
    .info-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 30rem;
        position: absolute;
        right: 25rem;
        top: 85rem;
        p {
            width: 50rem;
        }
    }
    .explore {
        background-color: config.get-color("button");
        border-radius: 50px;
        padding: 10px;
        width: 15rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 40rem;
        top: 108rem;
        font-family: "Mukta";
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 0.5rem;
        color: config.get-color("text-color");
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: config.get-color("contact-button");
            transition: 0.5s;
        }
    }
    .info-design {
        width: 6rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        position: absolute;
        left: 0;
        top: 96rem;
        svg {
            position: absolute;
            left: 0.8rem;
            top: -10rem;
        }
        .barcode {
            font-family: "Libre Barcode 128";
            font-size: 8rem;
            color: config.get-color("text-color");
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
            display: inline-block;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            position: absolute;
            left: -3rem;
        }
    }
}
footer {
    position: absolute;
    top: 125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: config.get-screen-size("s")) {
    main {
        flex: 1;
        .eclipse {
            position: absolute;
            top: 18rem;
            left: 37rem;
            width: 32rem;
            height: 32rem;
            .nreal {
                position: absolute;
                width: 45rem;
                height: 45rem;
                z-index: 5;
                top: -6rem;
                right: -6rem;
            }
        }
        .title {
            padding: 2rem;
            display: flex;
            flex-direction: space-between;
            justify-content: center;
            align-items: center;
            margin-top: -2rem;
        }
    }
}
@media screen and (max-width: config.get-screen-size("m")) {
    
}
@media screen and (max-width: config.get-screen-size("l")) {
    
}
@media screen and (max-width: config.get-screen-size("xl")) {
    
}
@media screen and (max-width: config.get-screen-size("xxl")) {
    
}
