@use "../config/config.scss";
@use "../config/util.scss";


main {
    .eclipse {
        position: absolute;
        top: 18rem;
        right: 13rem;
        width: 32rem;
        height: 32rem;
        .nreal {
            position: absolute;
            width: 45rem;
            height: 45rem;
            z-index: 5;
            top: -6rem;
            right: -6rem;
        }
    }
    .title {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Mukta";
        font-size: 3rem;
        font-weight: lighter;
        text-align: left;
        letter-spacing: 0.1rem;
        margin-left: 12rem;
        margin-top: 8rem;
        .colored {
            // mask image
            background: url(../../../public/assets/grad.gif) no-repeat;
            background-size: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .amazon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 18rem;
        height: 11rem;
        margin-left: 16rem;
        margin-top: -6rem;
    }
    .buy {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18rem;
        padding: 10px;
        border: 2px solid config.get-color("text-color");
        border-radius: 50px;
        margin-left: 34rem;
        margin-top: -4rem;
        a {
            font-family: "Mukta";
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 0.5rem;
            color: config.get-color("text-color");
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .lines {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 18rem;
        height: 11rem;
        margin-left: 13.5rem;
        margin-top: 10rem;
    }
    .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 119.4rem;
        height: 34rem;
        margin-top: 38rem;
        margin-left: 0rem;
        background-color: config.get-color("container");
        opacity: 80%;
    }
    .info-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 10rem;
        height: 10rem;
        margin-left: 26.5rem;
        margin-top: 50rem;
    }
}