@use "../config/config";
@use "../config/util";
@use "../config/media";

main {
    .banner {
        height: 80vh;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .glass-blur {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            // background: rgba(255, 255, 255, 0.3);
            background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.4),
                rgba(255, 255, 255, 0.1)
            );
            backdrop-filter: blur(2px);
        }
        .overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .links {
                position: absolute;
                bottom: 0.5rem;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 3rem;
                    font-family: "Mukta", sans-serif;
                    font-size: 1.3rem;
                    li {
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                        &.buy {
                            background-color: black;
                            padding: 0.1rem 1rem;
                            border-radius: 3rem;
                            color: #9aaeff;
                        }
                    }
                }
            }
        }
    }
    .glasses-img {
        img {
            width: 100%;
        }
    }
    .specs {
        position: relative;
        .glasses {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            svg {
                position: absolute;
                width: 50%;
                z-index: -1;
            }
            img {
                width: 100%;
            }
        }
        .bottom-text {
            position: absolute;
            bottom: 0;
            left: 3rem;
            h1 {
                font-size: 4rem;
                font-weight: 100;
            }
            p {
                font-size: 1.3rem;
            }
        }
        .icons {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 2rem;
            bottom: 0;
            img {
                margin: -2rem;
                width: 10rem;
            }
        }
    }
    .down-arrow {
        margin: 4rem 0;
        display: flex;
        justify-content: center;
        svg {
            width: 6rem;
            animation: down-arrow-bounce 1s infinite alternate
                cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    .paragraph {
        width: 100%;
        text-align: center;
        h1 {
            font-size: 8rem;
            line-height: 1em;
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 3rem;
            line-height: 1em;
        }
    }
    .buy-product {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .buy {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10rem 0;
            a.button {
                color: white;
                text-decoration: none;
                font-family: "Mukta", sans-serif;
                font-size: 3rem;
                font-weight: 100;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 0 1rem;
                border-radius: 3rem;
                border: 3px white solid;
                width: fit-content;
                img {
                    height: 3rem;
                }
            }
            .certs {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }
        .product {
            width: 70%;
            position: relative;
            .bg {
                position: absolute;
                inset: 0;
                top: 8rem;
                width: 75%;
            }
            .carrousel {
                width: 100%;
                display: flex;
                padding-bottom: 3rem;
                .imgs {
                    aspect-ratio: 1;
                    position: relative;
                    width: 80%;
                    aspect-ratio: 1;
                    img {
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        position: absolute;
                        transition: opacity 300ms ease-out;
                        opacity: 0;
                        &.active {
                            opacity: 1;
                        }
                    }
                }
                .controls {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4rem;
                    .carrousel-btn {
                        width: 2rem;
                        aspect-ratio: 1;
                        background-image: linear-gradient(
                            45deg,
                            transparent,
                            transparent,
                            transparent
                        );
                        background-size: 200%;
                        border-radius: 50%;
                        animation: carrousel-btn 10s infinite forwards;
                        border: 3px white solid;
                        transition: all 2s ease-out;
                        &.active {
                            background-image: linear-gradient(
                                45deg,
                                #71d7ff,
                                #c287ff,
                                #71d7ff
                            );
                        }
                    }
                }
            }
            .information {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@keyframes down-arrow-bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2rem);
    }
}

@keyframes carrousel-btn {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}
