@use 'config.scss';
@use 'sass:math';

@function should-text-be-dark($color) {
  // Parse RGB by isolating each color
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  // Compute the perceptive luminance, keeping
  // in mind that the human eye favors green.
  $l: 1 - math.div((0.299 * $red + 0.587 * $green + 0.114 * $blue), 255);
  /* arguably this should be 0.50, but testing out various colors, this seemed to be the best so far. */
  @if ($l < 0.41) {
    // if the luminance is less than 0.5 return black
    @return #000000;
  } @else {
    // if the luminance is more than 0.5 return white
    @return #ffffff;
  }
}


@mixin width-per-screen-size($width: true, $margin: false, $padding: false) {
  @each $size, $width in config.get-container-width() {
    @media screen and (min-width: config.get-screen-size($size)) {
      @if ($width) {
        width: $width;
      }
      @if ($margin) {
        $margin: math.div(100% - $width, 2);
        margin-left: $margin;
        margin-right: $margin;
      }
      @if ($padding) {
        $padding: math.div(100% - $width, 2);
        padding: 0 $padding;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: config.get-color('login-border-color');
  border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-button {
  display: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-corner {
  background-color: #000000;
}